body {
	font-family: 'Roboto', sans-serif;
	color: #333;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	overflow: hidden;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

.hidden {
	display: none;
}