.contacts__block {
	display: flex;
}

.contacts__items {
	width: 50%;
	padding-right: 50px;
	border-right: 1px solid $text-color;
	font-size: 18px;
	letter-spacing: 1px;
}

.contacts__title {
	font-size: 25px;
	padding: 0 0 15px 0;
}

.contacts__text {
	margin-bottom: 30px;
	
}

.contacts__form {
	width: 50%;
	padding-left: 50px;
}